<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives</strong>

<ul>
<li>List the popular languages for Data Science</li>
<li>List the commonly used libraries for Data Science</li>
<li>Explore Open Source Data Science Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Numpy</li>
    <li>pandas</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
</ol>

<table>
    <tr>
      <th>Data Science Tools</th>
    </tr>
    <tr>
      <td>Python (Jupyter Notebooks)</td>
    </tr>
    <tr>
      <td>R (RStudio)</td>
    </tr>
    <tr>
      <td>SQL (Various Query Editors)</td>
    </tr>
  </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [7]:
minutes = 200
hours = minutes/60
hours
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<h2>Author</h2>
Zaw Myo Htet